[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-session = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[scripts]
serve = "flask run --debug --port 8000"
dev = "python scripts/dev.py"
