<!-- prettier-ignore -->
{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
<div class="flex flex-col min-h-screen items-center justify-center">
  <form
    class="flex flex-row items-center space-x-2 p-4 form-control card bg-neutral shadow-xl"
    action="/results"
    method="get"
  >
    <label class="flex flex-row items-center space-x-2 input w-96">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-[#9ca3af]"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>

      <input
        name="search"
        type="text"
        placeholder="Search..."
        class="w-full bg-transparent"
      />
    </label>

    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>
{% endblock %}
