<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Wiki - {% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.built.css') }}"
    />
  </head>

  <body>
    {% block navbar %}
    <nav
      id="navbar"
      class="fixed navbar bg-base-100 bg-opacity-60 backdrop-blur transition-shadow z-50"
    >
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Wiki</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          {% if username %}
          <li>
            <a href="#">{{ username }}</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <script>
      const navbar = document.querySelector("nav#navbar");

      window.addEventListener("scroll", () => {
        if (window.scrollY > 5) {
          navbar.classList.add("shadow-lg");
        } else {
          navbar.classList.remove("shadow-lg");
        }
      });
    </script>
    {% endblock %}

    <!---->

    {% block main %}{% endblock %}
  </body>
</html>
