{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="flex flex-col justify-center items-center w-full min-h-screen space-y-4">
  <div class="p-4 space-y-2 form-control card w-96 bg-neutral shadow-xl">
    <p class="text-xl text-center">Register</p>
  </div>

  <form
    class="p-4 space-y-2 form-control card w-96 bg-neutral shadow-xl"
    action="/register"
    method="post"
  >
    <input
      autocomplete="off"
      autofocus
      class="input input-bordered w-full"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />

    <input
      class="input input-bordered w-full"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />

    <input
      class="input input-bordered w-full"
      id="conformation"
      name="conformation"
      placeholder="Conformation"
      type="conformation"
    />

    <button class="btn btn-primary !mt-8" type="submit">Register</button>

    <p class="text-center">
      <span class="opacity-60">Already have an account?</span>
      <a class="link link-primary" href="/login">Log in here</a>
    </p>
  </form>
</div>
{% endblock %}
